body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container { 
  padding:0;
  margin:0;
  background-color: pink;
}
.preview-container {
  display: flex;
  flex-direction:row;
  position: relative;
}

.image-item{
  display: flex;
  margin: 10px 5px;
  position: relative;
}

.image {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.overlay {
  position: absolute;
  top: -1px;
  right: -1px;
  color: "white",
}